/*
CSS REFERENCE:
https://gist.github.com/maxd/63691840fc372f22f470

COLORS FROM
https://coolors.co/2589bd-176893-18587a-84a2b2-e5f4fc

#2589bd login color
#4c9ec9 brighter version
#176893
#e5f4fc
#18587a dark
#fafdfe bright white
#bcc8cf grey

*/
* {
    -bright-white: #fafdfe;
    -grey: #F6F6F6;
    -highlight-blue: #4c9ec9;
    -bright-blue: #e5f4fc;
    -medium-blue: #2589bd;
    -dark-blue: #18587a;

    -text-bright-blue: #e5f4fc;
    -text-dark-blue: #051017;

    -error-color: red;
}

.text{
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 14px;
}

.dashboardTitle{
    -fx-font-weight: bold;
}

.grid-pane{
    -fx-border-width: 0;
}

.root{
    -fx-background-color: -grey;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.baseBackground{
    -fx-background-color: -grey;
}

.brightBackground{
    -fx-background-color: -bright-white;
}

.mediumBackground{
    -fx-background-color: #2589bd;
}

.darkBackground{
    -fx-background-color: #18587a;
}

.toolbar{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.brightText{
    -fx-fill: #e5f4fc;
}

.largeText{
    -fx-font-size: 20px;
    -fx-font-family: "Trebuchet MS";
}

.hugeText{
    -fx-font-size: 36px;
    -fx-font-family: "Trebuchet MS";
    -fx-font-weight: bolder;
}

.headerArea{
    -fx-background-color: -bright-white;
    /* -fx-effect: dropshadow(three-pass-box,-text-dark-blue, 5, 0.2, -1, 0); */
}

/****************
*       Charts  *
*****************/
.chart-bar{
    -fx-bar-fill: -medium-blue;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-stroke: -medium-blue;
    -fx-effect: null;
}

/****************
*CalendarGrid   *
*****************/
.calendarHover{
    -fx-background-color: -highlight-blue;
}

/****************
*   TabPane     *
*****************/

.tab{
    -fx-background-color: -medium-blue;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}

.tab:selected{
    -fx-background-color: -dark-blue;
}

.tab-header-background{
    -fx-background-color: -medium-blue;
    -fx-padding: 0px;
}

.tab-label{
    -fx-text-fill: -text-bright-blue;
    -fx-padding: 4px;
    -fx-font-size: 14px;
}

.tab:hover{
    -fx-background-color: -highlight-blue;
}
/****************
*   ComboBox    *
*****************/
.combo-box{
    -fx-background-insets: 0;
    -fx-background-color: -bright-white;

}

.combo-box > .list-cell{
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 14px;
    -fx-text-fill: -text-dark-blue;
    -fx-fill: -text-dark-blue;
}

.combo-box > .arrow-button{
    -fx-background-color: -medium-blue;
}

.combo-box > .arrow-button > .arrow{
    -fx-background-color: -bright-white;
    -fx-background-insets: 0;
}

/****************
*   LISTVIEW    *
*****************/
.list-view{
    -fx-background-insets: 1;
}

.list-view .list-cell{
    -fx-margin: 0;
    -fx-background-insets: -1;
    -fx-background-color: -bright-white;
}


.list-view .list-cell:selected{
    -fx-background-color: -medium-blue;
}

.list-view .list-cell:hover{
    -fx-background-color: -highlight-blue;
}

.list-view-two-cell{
    -fx-font-family: "Trebuchet MS";
    -fx-padding: 8px;
    -fx-background-insets: 0;
    -fx-margin: 0;
}

.list-view-two-cell .main-field{
    -fx-font-size: 16px;
    -fx-fill: -text-dark-blue;
}

.list-view-two-cell .secondary-field{
    -fx-font-size: 14px;
    -fx-fill: -text-dark-blue;
}

.loginListView .list-cell{
    -fx-padding: 16px 0px 16px 16px;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 16px;
    -fx-background-color: #fafdfe;
    -fx-text-fill: #18587a;
}

.loginListView .list-cell:selected{
    -fx-background-color: #2589bd;
    -fx-text-fill: #e5f4fc;
    -fx-border-width: 0;
}

.loginListView .list-cell:hover{
    -fx-background-color: #4c9ec9;
    -fx-text-fill: #e5f4fc;
    -fx-border-width: 0;
}

/* Hide buttons from scrollbar*/
.loginListView .decrement-button, .loginListView .increment-button{
    visibility: hidden;
}

.loginListView .scroll-bar {
    -fx-background-color: #2589bd;
    -fx-border-width: 0;
}

.loginListView .scroll-bar .thumb {
    -fx-background-color: #18587a;
}

/****************
*    TEXTFIELD  *
*****************/

.text-field{
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 14px;
    -fx-background-insets: 0;
    -fx-background-color: -bright-white;
    -fx-padding: 8px;
    -fx-border-color: -medium-blue;
}

.text-field-error{
    -fx-border-color: -error-color;
}

/****************
*    DatePicker *
*****************/
.date-picker > .arrow-button{
    -fx-background-insets: 0;
    -fx-background-color: -medium-blue;
}

.date-picker > .arrow-button > .arrow{
    -fx-background-color: -bright-white;
    -fx-padding: 8px;
}

.date-picker-error .text-field{
    -fx-border-color: -error-color;
}

.date-picker-error > .arrow-button{
    -fx-background-color: -error-color
}

/****************
*    BUTTONS    *
*****************/

.button{
    -fx-font-family: "Trebuchet MS";
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-background-radius: 0;
}

.bigButton{
    -fx-padding: 16px 0 16px 0;
}

.brightButton{
    -fx-text-fill: #18587a;
    -fx-background-color: transparent;
}

.brightButton:hover{
    -fx-background-color: #2589bd;
}

.mediumButton{
    -fx-text-fill: #e5f4fc;
    -fx-background-color: #2589bd;
}

.mediumButton:hover{
    -fx-background-color: #176893;
}

.darkButton{
    -fx-text-fill: #e5f4fc;
    -fx-background-color: #176893;
}

.darkButton:hover{
    -fx-text-fill: #e5f4fc;
    -fx-background-color: #18587a;
}

#exitButton:hover{
    -fx-background-color: red;
}